$font-stack: 'Lato', sans-serif;
$main-font-color: #242322;
$red: #a70101;

$main-background-color-primary: #65dfc9;
$main-background-color-secondary: #6cdbeb;

$input-background-color-primary: rgba(255, 255, 255, 0.7);
$input-background-color-secondary: rgba(255, 255, 255, 0.3);
