@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

@media screen and (min-width: 900px) {
  :root {
    font-size: 20px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: #242322;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.App {
  text-align: center;
}

.search-input {
  width: 15rem;
  padding: 1rem;
  margin: 1.6rem 1rem 1.2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  font-family: inherit;
  font-size: 1.4rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.error {
  color: #a70101;
  font-size: 2rem;
  font-weight: 700;
}

.chart-container {
  margin: 2rem;
  display: none;
}

@media screen and (min-width: 700px) {
  .chart-container {
    display: block;
  }
}

.main-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0.5rem;
}

.main-weather > * {
  padding: 0.2rem;
}

.main-weather__sunrise-sunset,
.main-weather__description,
.main-weather__day-night {
  font-size: 1.2rem;
}

.main-weather__city {
  font-size: 2.5rem;
}

.main-weather__temperature {
  font-size: 4rem;
  padding-bottom: 0;
}

.main-weather__icon {
  width: 9rem;
}

.bar-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 25rem;
  padding: 1rem;
  margin: 1rem auto;
  gap: 0.2rem;
}

.bar-container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-container__icon {
  width: 4rem;
}
.bar-container__week-day,
.bar-container__temp {
  font-size: 1.125rem;
}

.tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.tile__icon {
  flex: 2;
  font-size: 3.6rem;
}

.tile__specific {
  flex: 3;
  font-size: 1.2rem;
}
