.tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1.5rem;

  &__icon {
    flex: 2;
    font-size: 3.6rem;
  }

  &__specific {
    flex: 3;
    font-size: 1.2rem;
  }
}
